:root {
  --heading-font-family: "Montserrat", sans-serif;
  --basic-font-family: "Space Mono", monospace;
  --heading-text-color: #007580;
}

body {
  text-align: center;
  margin: 150px auto;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  background-attachment: fixed;
}

.navigatie {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  font-size: 40px;
  margin: 0px 0px 0px 10px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin-right: 30px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  text-decoration: none;
  margin-left: 5px;
  font-family: var(--basic-font-family);
}

nav a {
  text-decoration: none;
  color: #6c757d;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--heading-text-color);
}

h1 {
  font-family: var(--basic-font-family);
  color: black;
  font-size: 80px;
  margin-bottom: 5px;
}

.font {
  font-size: 40px;
  color: var(--heading-text-color);
  text-decoration: none;
  opacity: 0.4;
  margin: 20px 20px;
}

.font:hover {
  opacity: 1;
  color: var(--heading-text-color);
}

h3 {
  margin-bottom: 30px;
  font-family: var(--basic-font-family);
}

@media (min-width: 600px) {
  .logo {
    font-size: 50px;
    margin: 0px 50px;
  }

  nav ul {
    margin: 0px 50px;
  }

  nav li {
    margin-left: 15px;
  }
}
