:root {
  --heading-font-family: "Montserrat", sans-serif;
  --basic-font-family: "Space Mono", monospace;
  --heading-text-color: #007580;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 25px 25px;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  background-attachment: fixed;
}

.navigatie {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  font-size: 40px;
  margin: 0px 0px 0px 10px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin-right: 30px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 5px;
  font-family: var(--basic-font-family);
}

nav a {
  text-decoration: none;
  color: #6c757d;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--heading-text-color);
}

h1 {
  font-family: var(--basic-font-family);
  font-size: 40px;
  margin-bottom: 40px;
}

p {
  font-family: var(--basic-font-family);
  font-size: 16px;
  line-height: 30px;
  font-weight: 200;
  color: black;
}

.projectTitels {
  margin-bottom: 50px;
}

.fa-external-link-alt {
  font-size: 30px;
  color: var(--heading-text-color);
  opacity: 0.2;
}

.fa-external-link-alt:hover {
  opacity: 1;
  color: var(--heading-text-color);
}

.projectLink {
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
  opacity: 0.2;
  transition: 0.3s;
}

.projectLink:hover {
  opacity: 1;
  color: var(--heading-text-color);
  cursor: pointer;
}

@media (min-width: 600px) {
  .logo {
    font-size: 50px;
    margin: 0px 50px;
  }

  nav ul {
    margin: 0px 50px;
  }

  nav li {
    margin-left: 15px;
  }
}

@media (min-width: 769px) {
  .page {
    margin: 50px 75px;
  }
}

@media (min-width: 992px) {
  .page {
    margin: 50px 100px;
  }

  h1 {
    font-size: 52px;
    margin-bottom: 50px;
  }

  .projectLink {
    font-size: 48px;
  }
}
