body,
html {
  height: 100%;
  width: 100%;
  margin: 85px auto;
}

body {
  text-align: center;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 96px;
  color: #484848;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
