:root {
  --heading-font-family: "Titillium Web", sans-serif;
  --basic-font-family: "Montserrat", sans-serif;
  --heading-text-color: #484848;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 25px auto;
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-weight: 900;
  font-size: 37px;
  line-height: 1.5;
  text-align: center;
}

p {
  font-family: var(--basic-font-family);
  font-size: 16px;
  line-height: 30px;
  font-weight: 200;
}
